* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /*background-image: url("images/hero-bg.jpg");*/
    background-size: cover;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {

    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: 10;
}

#title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1 a:hover {
    color: lightgray;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4081;
}

.hero {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url('images/hero-bg.jpg') no-repeat center center/cover;*/
    z-index: -1;
    filter: brightness(0.5);
}

.hero-text {
    max-width: 700px;
    animation: fadeIn 2s ease;
}


#listen-button {
    margin: 1.5rem;
    padding:  0.8rem 2rem;
    background-color: #ff4081;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#listen-button:hover {
    background: #ff90aA;
    transform: scale(1.05);
}

#listen-button:active {

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

.modal-content {
    position: relative;
    width: 80%;
    background: rgba(0,0,0);
    color: #fff;
    padding: 3rem;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 300px;

}

.gallery-content {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 4.5rem;
    background: rgba(250,250,250,0.95);
    color: black;
    padding: 2.5rem;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;

}

.gallery-content > h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.gallery-content figure {
    margin: 0;
    text-align: center;
}

.gallery-content figure img {
    max-width: 100%;
    border-radius: 10px;
}

.gallery-content figcaption {
    margin-top: .5rem;
    font-style: italic;
    font-size: .8rem;
}

#close-gallery-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1001;
}

#close-gallery-modal:hover {
    color: red;
}


.video-modal-body {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: stretch;
}

.video-modal-body p {
    font-size: 1.5rem;
    align-self: center;
    margin-bottom: 1rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio for video */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#close-modal {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1001;
}

#close-modal:hover {
    color: red;

    }

.merch-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: rgba(255,255,255,0.95);
    padding: 1.5rem;
    border-radius: 10px;
    color: black;
    max-width: 4000px;
    width: 95%;
    text-align: center;

}

#close-merch-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1001;
}

#close-merch-modal:hover {
    color: red;
}



section {
    padding: 6rem 2rem;
}

.music-section, .tour-section {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(12px);
    padding: 2rem 1rem;
    margin: 5rem 0;
    border-radius: 10px;
}

.tour-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tour-card {
    background: linear-gradient(180deg, #444 0%, #222 95%);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
}

.tour-card a {
    text-decoration: none;
    color: white;
    padding: .5rem;
    border: white 2px solid;
    border-radius: 5px;
}

.tour-card a:hover {
    background: white;
    color: black;

}

.music-section > h2, .tour-section > h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.music-content, .tour-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.album {
    color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.album > p {
    margin: 0.75rem;

}

#a-la-sala {
    background: linear-gradient(180deg, #d95d5d 0%, #201d1d 95%);
}

#not-tight {
    background: linear-gradient(180deg, #3999e3 0%, #2e343c 95%);
}

#v {
    background: linear-gradient(180deg, #bf8f70 0%, #271f1a 85%);
}

.socials {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}
.album, .tour-card, .gallery-content, .video-modal-body {
    animation: fadeInUp 1s ease forwards;
}
